<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meelo & Ben!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.min.css">
    <style>
        .bg{
            background-attachment: scroll;
            background-color: initial;
            background-size: cover;
            background-origin: initial;
            background-clip: initial;
            background-position-x: 50%;
            background-position-y: center;
        }
    </style>
</head>
<body>








<section class="hero is-primary is-medium" >
    <!-- Hero header: will stick at the top -->
    <div class="hero-head">
        <header class="nav">
            <div class="container">
                <div class="nav-left">
                    <a class="nav-item">
                        Meelo & Ben
                    </a>
                </div>
                <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
                <div class="nav-right nav-menu">
                    <a class="nav-item is-active">
                        Home
                    </a>
                    <a class="nav-item">
                        Music
                    </a>
                    <a class="nav-item">
                        Quizz
                    </a>
                    <span class="nav-item">
            {#<a class="button is-primary is-inverted">#}
              {#<span class="icon">#}
                {#<i class="fa fa-user"></i>#}
              {#</span>#}
              {#<span>Your account</span>#}
            {#</a>#}
          </span>
                </div>
            </div>
        </header>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Meelo & Ben
            </h1>
            <h2 class="subtitle">
                Mariage - 27/10/2017
            </h2>
        </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    {#<div class="hero-foot">#}
        {#<nav class="tabs">#}
            {#<div class="container">#}
                {#<ul>#}
                    {#<li class="is-active"><a>Overview</a></li>#}
                    {#<li><a>Modifiers</a></li>#}
                    {#<li><a>Grid</a></li>#}
                    {#<li><a>Elements</a></li>#}
                    {#<li><a>Components</a></li>#}
                    {#<li><a>Layout</a></li>#}
                {#</ul>#}
            {#</div>#}
        {#</nav>#}
    {#</div>#}
</section>
<br>
<br>
<section>
    <div class="container">

        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-primary bg"
                                 style="background-image: url({{ asset("pics/20170610_161131.jpg") }}); height: 50px">
                        </article>
                        <article class="tile is-child notification is-warning bg"
                                 style="background-image: url({{ asset("pics/20170610_161131.jpg") }})">

                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-info bg"
                                 style="background-image: url({{ asset("pics/20170628_210025.jpg") }})"
                        >
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-danger">
                        <p class="title">Wide tile</p>
                        <p class="subtitle">Aligned with the right tile</p>
                        <div class="content">
                            <!-- Content -->
                        </div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-success">
                    <div class="content">
                        <p class="title">Tall tile</p>
                        <p class="subtitle">With even more content</p>
                        <div class="content">
                            <!-- Content -->
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<div id="fh5co-event" class="fh5co-bg" style="">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box fadeInUp animated-fast">
                <span>Our Special Events</span>
                <h2>Wedding Events</h2>
            </div>
        </div>
        <div class="row">
            <div class="display-t">
                <div class="display-tc">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-6 col-sm-6 text-center">
                            <div class="event-wrap animate-box fadeInUp animated-fast">
                                <h3>Main Ceremony</h3>
                                <div class="event-col">
                                    <i class="icon-clock"></i>
                                    <span>4:00 PM</span>
                                    <span>6:00 PM</span>
                                </div>
                                <div class="event-col">
                                    <i class="icon-calendar"></i>
                                    <span>Monday 28</span>
                                    <span>November, 2016</span>
                                </div>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 text-center">
                            <div class="event-wrap animate-box fadeInUp animated-fast">
                                <h3>Wedding Party</h3>
                                <div class="event-col">
                                    <i class="icon-clock"></i>
                                    <span>7:00 PM</span>
                                    <span>12:00 AM</span>
                                </div>
                                <div class="event-col">
                                    <i class="icon-calendar"></i>
                                    <span>Monday 28</span>
                                    <span>November, 2016</span>
                                </div>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
            <p>
                <a class="icon" href="https://github.com/jgthms/bulma">
                    <i class="fa fa-github"></i>
                </a>
            </p>
        </div>
    </div>
</footer>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(function ($el) {
                $el.addEventListener('click', function () {

                    // Get the target from the "data-target" attribute
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);

                    // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>
</html>