<h1>Quizz</h1>

<section class="question">
    <span class="author">Benjamin :</span>
    <span class="sentence">What is my favorite Video game console?</span>
    <span class="answer"><input type="text" /></span>
</section>
